@{
    ViewData["Title"] = "خانه";
}
<!--Section About-->
<section id="Home" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <strong>
            <div class="row">

                <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <img src="/Images/Home.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">
                    <h3>موفقیت کار روزمره ماست</h3>
                    <p >

                        ما با استفاده از ابزار و امکاناتی که برای نیروهای خود فراهم کرده ایم توانستیم بهترین بازخورد ممکن را دریافت کنیم

                    </p>
                    <ul class="ms-auto">
                        <li><span style="color: goldenrod" class=" ri-check-double-line"></span>محیطی پویا و آرام که میتواند ذهن نیرو های ما را به اوج آرامش و خلاقیت برساند</li>
                        <li><span style="color: goldenrod" class=" ri-check-double-line"></span> ابزار های بروز که با استفاده از آن ها فتح قله ها آسان تر است</li>
                        <li><span style="color: goldenrod" class=" ri-check-double-line"></span> همکاری خوب تجربه و خلاقیت رمز موفقیت ما برای یکه تازی در این عرصه است</li>
                    </ul>
                    <p style="text-align:justify">
                        این شرکت با دست یافتن به افتخارات بزرگ خود را به اثبات رسانده و همچنان سعی دارد بر سکوی قدرت بماند چرا که هرآنچه نیاز است برای موفقیت سعی در فراهم کردنش داریم
                    </p>
                </div>
            </div>
        </strong>
    </div>
</section>
<!--End Section About-->
<!--Section Clients-->
<section id="clients" class="clients">
    <div class="container aos-init aos-animate" data-aos="zoom-in">
        <div class="clients-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
            <div class="swiper-wrapper align-items-center" id="swiper-wrapper-3facfc7ee59d3fb7" aria-live="off" style="transform: translate3d(-2060px, 0px, 0px); transition-duration: 0ms;">
                <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="9 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="2"><img src="Images/Slider/client-1.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" role="group" aria-label="10 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="3"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" role="group" aria-label="11 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="4"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" role="group" aria-label="12 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="5"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="13 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="6"><img src="assets/img/clients/client-7.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="14 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="7"><img src="assets/img/clients/client-8.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide" role="group" aria-label="7 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="0"><img src="Images/Slider/client-2.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide" role="group" aria-label="8 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="1"><img src="Images/Slider/client-3.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide" role="group" aria-label="9 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="2"><img src="Images/Slider/client-4.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="10 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="3"><img src="Images/Slider/client-5.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide swiper-slide-active" role="group" aria-label="11 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="4"><img src="Images/Slider/client-6.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide swiper-slide-next" role="group" aria-label="12 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="5"><img src="Images/Slider/client-7.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide" role="group" aria-label="13 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="6"><img src="Images/Slider/client-8.png" class="img-fluid" alt=""></div>
                <div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="7 / 20" style="width: 86px; margin-right: 100px;" data-swiper-slide-index="0"><img src="assets/img/clients/client-1.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="8 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="1"><img src="assets/img/clients/client-2.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate" role="group" aria-label="9 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="2"><img src="assets/img/clients/client-3.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" role="group" aria-label="10 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="3"><img src="assets/img/clients/client-4.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" role="group" aria-label="11 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="4"><img src="assets/img/clients/client-5.png" class="img-fluid" alt=""></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" role="group" aria-label="12 / 20" style="width: 86px; margin-right: 120px;" data-swiper-slide-index="5"><img src="assets/img/clients/client-6.png" class="img-fluid" alt=""></div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 7"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 8"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</section>
<!--End Section Clients-->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container aos-init" data-aos="zoom-in">

        <div class="testimonials-slider swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper" id="swiper-wrapper-f1d7a6867d5eb822" aria-live="off" style="transform: translate3d(-6696px, 0px, 0px); transition-duration: 0ms;">


                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="1 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-0.jpg" class="testimonial-img" alt="">
                        <h3>Morteza Khorsand</h3>
                        <h4>Programmer &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            ما تمام تلاشمان را میکنیم تا رویای شما را به واقعیت تبدیل کنیم
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="2 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            زیبایی محصور کننده محصولات ما زبان زد است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="3 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            محصولات ما ثابت شده اند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="4 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            پروژه های زیبا و پیچیده که به زیبای ساخته می شوند لذت بخش است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="5 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            خلاقیت در این شرکت آسان نیست زیرا همه به آن مسلط هستند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" role="group" aria-label="6 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-0.jpg" class="testimonial-img" alt="">
                        <h3>Morteza Khorsand</h3>
                        <h4>Programmer &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            ما تمام تلاشمان را میکنیم تا رویای شما را به واقعیت تبدیل کنیم
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="1" role="group" aria-label="7 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            زیبایی محصور کننده محصولات ما زبان زد است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="2" role="group" aria-label="8 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            محصولات ما ثابت شده اند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide" data-swiper-slide-index="3" role="group" aria-label="9 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            پروژه های زیبا و پیچیده که به زیبای ساخته می شوند لذت بخش است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->
                <div class="swiper-slide" data-swiper-slide-index="4" role="group" aria-label="10 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            خلاقیت در این شرکت آسان نیست زیرا همه به آن مسلط هستند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <!-- End testimonial item -->
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" data-swiper-slide-index="0" role="group" aria-label="11 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-0.jpg" class="testimonial-img" alt="">
                        <h3>Morteza Khorsand</h3>
                        <h4>Programmer &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            ما تمام تلاشمان را میکنیم تا رویای شما را به واقعیت تبدیل کنیم
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="1" role="group" aria-label="12 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            زیبایی محصور کننده محصولات ما زبان زد است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="2" role="group" aria-label="13 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            محصولات ما ثابت شده اند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" role="group" aria-label="14 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            پروژه های زیبا و پیچیده که به زیبای ساخته می شوند لذت بخش است
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" role="group" aria-label="15 / 15">
                    <div class="testimonial-item">
                        <img src="/Images/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            خلاقیت در این شرکت آسان نیست زیرا همه به آن مسلط هستند
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>

    </div>
</section>

<!-- ======= End Testimonials Section ======= -->
