
@{
    ViewData["Title"] = "رزومه";
    Layout = "~/Views/Shared/_Layout_resume.cshtml";
}

<section id="Home" class="about">

    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">

            <div style="text-align: justify;" class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" dir="ltr" data-aos="fade-left" data-aos-delay="100">
                <div class="section-title">
                    <h2>Morteza Khorsand</h2>
                    <h1>Programmer-WebDeveloper</h1>
                </div>
                The path of development is a challenging, attractive, and beautiful path
                Which always seeks to create, improve and make things easier.
                From the beginning of my career, I have always tried to be on this path, and with God's help, I have been able to learn different branches of this beautiful knowledge and use or transfer them in a desirable way.
                I finished my education in Qazvin province and I have been teaching and freelance during my student days.
                During my service, I participated in a government project, and after completing my service, I tried to review and add my coding knowledge.
                Now I am looking for someone who can play a role in a workable collection and take a step towards learning more than before,
                and I have the same perseverance, effort and determination that I can become a special nut in your collection.
            </div>

            <div style="text-align: justify;" class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">
                <div class="section-title">
                    <h2>مرتضی خرسند</h2>
                    <p>برنامه نویس-توسعه دهنده وب</p>
                </div>
                <p>
                    مسیر توسعه، مسیریست پر چالش، جذاب، و زیبا که همواره در پی خلق، پیشرفت و آسان تر کردن کار هاست.
                </p>
                <p>
                    از ابتدای مسیر شغلی خود همواره سعی داشته ام که در این مسیر باشم و تاکنون به یاری خدا توانسته ام شاخه های متفاوتی از این دانش زیبا را بیاموزم و از آنها به نحوی مطلوب استفاده یا انتقال اده ام.
                </p>
                <p>
                    تحصیلات خود را در استان قزوین به پایان رسانده ام و در دوران دانشجویی مشغول تدریس و فریلنسر بوده ام.
                    <br />
                    در هنگام خدمت در پروژه ای دولتی حضور داشته ام و بعد از اتمام خدمت سعی در مرور و اضافه کردن دانش کدینگ خود داشته ام
                    اکنون در جستجوی آنم که بتوانم در مجموعه ای قابل، ایفای نقش کنم و در جهت یادگیری بیش از پیش قدم بردارم و با اطمینان و سعی و اراده همینطور پشتگارایمان دارم که میتوانم به مهره ای خاص در مجموعه ی شما بدل شوم.
                </p>

            </div>

        </div>
        <br />
        @* اطلاعات فردی *@
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>اطلاعات فردی</h2>
                </div>

                <h6>تاریخ تولد:  شهریور 73</h6>
                <h6>وضعیت تاهل:  مجرد</h6>
                <h6>وضعیت سربازی:  پایان خدمت</h6>
                <h6>ایمیل:  <a href="mailto: Khorsandmorteza@namg.ir">Khorsandmorteza@namg.ir</a></h6>
                <h6>تلفن تماس:  <a href="tel:+989361190125">+989361190125</a></h6>
                <h6>آدرس:  ایران-کرج-گلشهر-میدان الغدیر- خیابان لاله</h6>

            </div>
            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100 " dir="ltr">
                <div class="section-title">
                    <h2>Personal Information</h2>
                </div>

                <h6>Date of birth:  September 94</h6>
                <h6>Marital status: Single</h6>
                <h6>Military Service: Completion Certificate</h6>
                <h6>Email: <a href="mailto: Khorsandmorteza@namg.ir">Khorsandmorteza@namg.ir</a></h6>
                <h6 style="font-family: sans-serif">Phone Number: <a href="tel:+989361190125">+989361190125</a></h6>
                <h6>Address: Iran - Karaj - Golshahr - AlGhadir Square - Laleh Street</h6>
            </div>

        </div>
        <br />
        @* سوابق تحصیلی *@
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>سوابق تحصیلی</h2>
                </div>

                <h4>کاردانی مهندسی کامپیوتر-نرم افزار</h4>
                <h5>دانشگاه رجاء</h5>
                <h6>1390-1392</h6>
                <br />
                <h4>کارشناسی مهندسی کامپیوتر-نرم افزار</h4>
                <h5>دانشگاه علامه قزوینی</h5>
                <h6>1392-1394</h6>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100 " dir="ltr">
                <div class="section-title">
                    <h2>Educational Information</h2>
                </div>

                <h4>Associate Computer-Software Engineering </h4>
                <h5>Raja University</h5>
                <h6 style="font-family: sans-serif">2011-2013</h6>
                <br />
                <h4>Bachelor Computer-Software Engineering</h4>
                <h5> Allameh Qazvini University</h5>
                <h6 style="font-family: sans-serif">2013-2015</h6>
            </div>

        </div>

        @* سوابق شغلی *@
        <br />
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>سوابق شغلی</h2>
                </div>

                <h4>آموزش برنامه نویسی</h4>
                <h5>موسسه ی صبا افراب</h5>
                <h6>1390-1395</h6>
                <br />
                <h4>فریلنسر</h4>
                <h6>1390-1395</h6>
                <br />
                <h4>توسعه دهنده</h4>
                <h6>خدمت سربازی</h6>
                <h6>1395-1394</h6>
                <br />
                <h4>کارشناس فنی </h4>
                <h5>شرکت هیوا</h5>
                <h6>1398-1398</h6>
                <br />
                <h4>توسعه دهنده بیزاجی</h4>
                <h5>شرکت رایان پرداز کاوش</h5>
                <h6>1399-1399</h6>
                <br />
                <h4>فریلنسر</h4>
                <h6>1399-اکنون</h6>

                <br />
            </div>
            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100 " dir="ltr">
                <div class="section-title">
                    <h2>Work Experiences</h2>
                </div>

                <h4>Teaching Programming</h4>
                <h5>Saba-Afrab institution</h5>
                <h6 style="font-family: sans-serif">2011-2016</h6>

                <br />

                <h4>Freelancer</h4>
                <h6 style="font-family: sans-serif">2011-2016</h6>

                <br />
                <h4>Developer</h4>
                <h5>Military Service</h5>
                <h6 style="font-family: sans-serif">2016-2018</h6>
                <br />
                <h4>Technical Expert</h4>
                <h5>Hiva Company</h5>
                <h6 style="font-family: sans-serif">2019-2019</h6>

                <br />

                <h4>Bizaji Developer</h4>
                <h5>Ryan Pardaz Kavosh Company</h5>
                <h6 style="font-family: sans-serif">2020-2020</h6>
                <br />

                <h4>Freelancer</h4>
                <h6 style="font-family: sans-serif">2020-Now</h6>
            </div>
        </div>


        <br />
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>جوایز و افتخارات</h2>
                </div>

                <h4>مقام اول کشوری در ساخت بازی و سرگرمی</h4>
                <h5>جشنواره پدیدآورندگان محتوای الکترونیکی</h5>
                <h6>1390</h6>
                <br />

            </div>
            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100 " dir="ltr">
                <div class="section-title">
                    <h2>Awards and honors</h2>
                </div>

                <h4>The first place in the country in making games and entertainment </h4>
                <h5>Electronic Content Creators Tournament</h5>
                <h6 style="font-family: sans-serif">2010</h6>
                <br />

            </div>

        </div>
        <br />
        @*نمونه کار*@
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>نمونه کار</h2>
                </div>

                <h4>وبسایت فروش اتوماسیون های اداری و صنعتی</h4>
                <h5>هدف از ساخت این وبسایت اشاره به معماری کد ها و تلفیق خلاقیت در آن بوده است.</h5>
                <h6>1400</h6>
                <br />

            </div>
            <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100 " dir="ltr">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>

                <h4>Sales of office and industrial website automation</h4>
                <h5>The purpose of building this website was to refer to the code architecture and integrate creativity in it</h5>
                <h6 style="font-family: sans-serif">2021</h6>
                <br />

            </div>

        </div>
        <br />
        @*دوره ها*@
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>دوره های آموزشی</h2>
                </div>
                <h4>دوره ی Action Scripts3</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی BootStrap</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی Html5 & Css3</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی C#</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی .Net Core</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی git</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />
                <h4>دوره ی Stimuloft Reports</h4>
                <h5>خودآموز</h5>
                <h6>پیشرفته</h6>
                <br />

            </div>

            <div dir="ltr" class="col-lg-6 pt-4 pt-lg-0 order-3 order-lg-2  aos-init aos-animate " data-aos="fade-left" data-aos-delay="100">

                <div class="section-title">
                    <h2>Education Courses</h2>
                </div>
                <h4>Action Scripts3 Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>BootStrap Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>Html5 & Css3 Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>C# Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>.Net Core Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>git Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />
                <h4>Stimuloft Reports Course</h4>
                <h5>Self-Teacher</h5>
                <h6>Advanced</h6>
                <br />

            </div>
        </div>
        @*توانمندی ها*@
        <div class="row mt-auto">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-right" data-aos-delay="100">

                <div class="section-title">
                    <h2>توانمدی ها</h2>
                </div>

                <h4>برنامه نویسی تحت ویندوز</h4>
                <h4>برنامه نویسی تحت وب C# - .Net Core - SQL</h4>
                <h4>توانایی طراحی و پیاده سازی طرح وبسایت</h4>
                <h4>توانایی پیاده سازی نرم افزار تحت وب</h4>
                <h4>توانایی کار گروهی</h4>
                <h4>مشتاق یادگیری و چالش</h4>
                <h4>آشنایی با وب فرم</h4>
                <h4>آشنایی با دیزاین پترن ها</h4>
                <h4>آشنایی با Dapper</h4>
                <h4>تحلیل و پیاده سازی BPMN</h4>

                <br />
            </div>

            <div dir="ltr" class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-left" data-aos-delay="100">

                <div class="section-title">
                    <h2>Capabilities</h2>
                </div>

                <h4>Windows Platform Programming</h4>
                <h4>Web-based Programming: C# - .Net Core - SQL</h4>
                <h4>Ability to design and implement a website Plan</h4>
                <h4>Ability to Implement Web-based Software</h4>
                <h4>Ability to Work in a Team</h4>
                <h4>Eager to learn and challenge</h4>
                <h4>Familiarity with Web-Forms</h4>
                <h4>Familiarity with pattern design</h4>
                <h4>Relative dominance with Dapper</h4>
                <h4>BPMN analysis and implementation</h4>

                <br />
            </div>
        </div>

        <br />


    </div>
    @* مهارت ها *@
    <br />
<div class="row mt-auto">
    <center>
        <div class="section-title">
            <h2>Skills</h2>
        </div>
    </center>
    <div class="col-md-4 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-left" dir="ltr" data-aos-delay="100 ">

        <h3>Angular & AngularJs</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1% </div>Starting
        </div>

        <br />
        <h3>Microsoft Office</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% </div>
        </div>
        <br />
        <h3>BPMN</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% </div>
        </div>
        <br />
        <h3>Microsoft Office</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% </div>
        </div>
        <br />
        <h3>Adobe Photoshop</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60% </div>
        </div>
        <br />
        <h3>Adobe Flash</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% </div>
        </div>
        <br />
        <h3>3D Max</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40% </div>
        </div>
        <br />
        <h3>Proteus</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40% </div>
        </div>
        <br />
    </div>
    <div class="col-md-4 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " dir="ltr" data-aos="fade-left" data-aos-delay="100 ">
        <h3>HTML5</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Completing</div>
        </div>
        <br />
        <h3>CSS3</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Completing</div>
        </div>
        <br />
        <h3>Bootstrap</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Completing</div>
        </div>
        <br />
        <h3>Sql Server</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80% Completing</div>
        </div>
        <br />
        <h3>Bizagi</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br />
        <h3>Action Script3</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
        </div>
        <br />
        <h3>Kotlin</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80% Need To Review</div>
        </div>
        <br />
        <h3>git</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90% Completing</div>
        </div>
    </div>

    <div class="col-md-4 pt-4 pt-lg-0 order-2 order-lg-1  content aos-init aos-animate " data-aos="fade-left" dir="ltr" data-aos-delay="100 ">
        <h3>C#</h3>

        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80% Completing</div>
        </div>
        <br />
        <h3>.Net Core</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70% Completing</div>
        </div>
        <br />
        <h3>OOP</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95% Completing</div>
        </div>
        <br />
        <h3>Identity</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95% Completing</div>
        </div>
        <br />
        <h3>ADO.Net</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95% Completing</div>
        </div>
        <br />
        <h3>LinQ</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95% Completing</div>
        </div>
        <br />
        <h3>Dapper ORM</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75% Completing</div>
        </div>
        <br />
        <h3>Stimulsoft Reports</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80% Completing</div>
        </div>

    </div>
</div>
@*skillpic*@
    <center>
        <div class="row  justify-content-center mt-2" data-aos="zoom-in" data-aos-delay="250">


            <div class="col-md-3">
                <div>

                    <img src="~/Images/attribute/oop.jpg" style="width: 150px; height: 150px" />

                </div>

                <div>

                    <img src="~/Images/attribute/netcore.jpg" style="width: 150px; height: 150px" />

                </div>

                <div>

                    <img src="~/Images/attribute/identity.jpg" style="width: 150px; height: 150px" />

                </div>

                <div>

                    <img src="~/Images/attribute/ado.jpg" style="width: 150px; height: 150px" />

                </div>
            </div>


            <div class="col-md-3">
                <div>
                    <img src="~/Images/attribute/LINQ.jpg" style="width: 150px; height: 150px" />

                </div>
                <div>
                    <img src="~/Images/attribute/angular.jpg" style="width: 150px;height: 150px" />

                </div>
                <div>
                    <img src="~/Images/attribute/actionscript.jpg" style="width: 150px;height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/htmlcss.jpg" style="width: 150px;height: 150px" />
                </div>

            </div>


            <div class="col-md-3">
                <div>
                    <img src="~/Images/attribute/bootstrap.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/sqlserver.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/stimulsoftreport.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/bizagi.jpg" style="width: 150px; height: 150px" />
                </div>
            </div>


            <div class="col-md-3">
                <div>
                    <img src="~/Images/attribute/bpmn.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/dapper.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/git.jpg" style="width: 150px; height: 150px" />
                </div>
                <div>
                    <img src="~/Images/attribute/vs.jpg" style="width: 150px; height: 150px" />
                </div>
            </div>
        </div>


        <div class="row  justify-content-center mt-2" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-md-3">
                <img src="~/Images/attribute/vscode.jpg" style="width: 150px; height: 150px" />
            </div>

            <div class="col-md-3">
                <img src="~/Images/attribute/proteus.jpg" style="width: 150px; height: 150px" />
            </div>

            <div class="col-md-3">
                <img src="~/Images/attribute/flash.jpg" style="width: 150px; height: 150px" />
            </div>

            <div class="col-md-3">
                <img src="~/Images/attribute/office.jpg" style="width: 150px; height: 150px" />
            </div>
            <div class="col-md-3">
                <div>
                    <img src="~/Images/attribute/github.jpg" style="width: 150px; height: 150px" />
                </div>
            </div>
        </div>

    </center>
</section>