@model RegisterViewModel
@{
    ViewData["Title"] = "موفقیت ثبت نام";
}

<h1>ثبت نام شما با موفقیت انجام شد</h1>
<div class="alert alert-success">
    <p>
        کاربر گرامی با ایمیل: @Model.Email ممنون از ثبت نام شما. میتوانید از طریق لینک زیر وارد سایت شوید
    </p>
    <p><a asp-controller="Account" asp-action="Login">ورود به سایت</a></p>
</div>
